
body {
    background-color: #e4e4e4;
    background-image: url('/images/bg.jpg');
	font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    margin-bottom: 50px;
}

input {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 2px;
}

.btnConfirm {
    background-color: #0094da;
}

.formErrors p {
    color: red;
    font-size: 12px;
    margin: auto;
}

#question {
    background-color: #0094da;
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

#question p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: auto;
}

#answers ul{
    list-style-type: none;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#answers li {
    background-color: #fff;
    border: 2px solid #0094da;
    border-radius: 10px;
    min-height: 70px;
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
}

#answers li p {
    color: #0b0e21;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    flex: calc(100% - 75px);
    margin: auto 20px;
    transition: color .3s ease;
}

#answers li:after{
    display: block;
}

#answers li:hover {
    transform: scale(1.03);
}

#answers li.right {
    border-color: #1ea55b;
    color: #1ea55b;
}

#answers li.right p {
    color: #1ea55b;
}

#submit {
    text-align: center;
    margin: 20px 0;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.popup {
    text-align: center;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
}

.popup h1 {
    background-color: #0094da;
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
}
.popup .popupContent {
    width: 100%;
    height: 220px
}

.popup .guideText {
    font-size: smaller
}

.popup .imgRes {
    float: left;
    width: 50%;
}

.popup .defineRes {
    float: right;
    width: 50%;
}

.popup p {
    margin-bottom: 20px;
}

.popup strong {
    color: #0094da;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 1.5rem
}

.popup img {
    max-width: 200px;
    border-radius: 10px;
}

.popup .btn{
    margin: 20px auto;
    background-color: #0094da;
}

footer {
    background-color: #0b0e21;
    color: white;
    letter-spacing: 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

footer small {
    margin-bottom: 10px;
}

footer span {
    color: crimson;
}

@media (max-width: 768px) {
    #question p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .popup h1 {
        font-size: large
    }
    
    #answers li {
        width: 100%;
    }
    
    #submit button {
        width: 50%;
    }

    .popup input {
        width: 100%;
    }

    .popup .popupContent {
        width: 100%;
        height: auto
    }

    .popup .imgRes {
        margin: auto;
        width: 100%;
        margin-bottom: 5px 
    }
    
    .popup .defineRes {
        width: 100%;
    }
}
@media (max-width: 480px) {
    
    footer {
        padding: 5px;
    }
    
    footer small {
        display: none;
    }
}